@import "tailwindcss";

@font-face {
  font-family: 'GFS Neohellenic';
  src: url('/assets/fonts/GFSNeohellenic-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .font-neohellenic {
    font-family: 'GFS Neohellenic', serif;
  }
}